<?xml version="1.0"?>
<config>
    <modules>
        <Evince_Removeimages>
            <version>1.0.1</version>
        </Evince_Removeimages>
    </modules>
    <frontend>
        <routers>
            <removeimages>
                <use>standard</use>
                <args>
                    <module>Evince_Removeimages</module>
                    <frontName>removeimages</frontName>
                </args>
            </removeimages>
        </routers>
        <layout>
            <updates>
                <removeimages>
                    <file>removeimages.xml</file>
                </removeimages>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<removeimages>
				<use>admin</use>
				<args>
					<module>Evince_Removeimages</module>
					<frontName>removeimages</frontName>
				</args>
			</removeimages>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<removeimages module="removeimages">
				<title>Remove Images</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="removeimages">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>removeimages/adminhtml_removeimages</action>
					</items>
				</children>
			</removeimages>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Evince_Removeimages>
							<title>Removeimages Module</title>
							<sort_order>10</sort_order>
						</Evince_Removeimages>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<removeimages>
					<file>removeimages.xml</file>
				</removeimages>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <removeimages>
                <class>Evince_Removeimages_Model</class>
                <resourceModel>removeimages_mysql4</resourceModel>
            </removeimages>
            <removeimages_mysql4>
                <class>Evince_Removeimages_Model_Mysql4</class>
                <entities>
                    <removeimages>
                        <table>removeimages</table>
                    </removeimages>
                </entities>
            </removeimages_mysql4>
        </models>
        <resources>
            <removeimages_setup>
                <setup>
                    <module>Evince_Removeimages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </removeimages_setup>
            <removeimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </removeimages_write>
            <removeimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </removeimages_read>
        </resources>
        <blocks>
            <removeimages>
                <class>Evince_Removeimages_Block</class>
            </removeimages>
        </blocks>
        <helpers>
            <removeimages>
                <class>Evince_Removeimages_Helper</class>
            </removeimages>
        </helpers>
    </global>
</config>