<?xml version="1.0"?>
<config>
	<modules>
        <Potato_Compressor>
            <version>1.0.2</version><platform>ce</platform>
        </Potato_Compressor>
    </modules>
    <global>
        <helpers>
            <po_compressor>
                <class>Potato_Compressor_Helper</class>
            </po_compressor>
        </helpers>
        <blocks>
            <po_compressor>
                <class>Potato_Compressor_Block</class>
            </po_compressor>
            <page>
                <rewrite>
                    <html_head>Potato_Compressor_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <po_compressor>
                <class>Potato_Compressor_Model</class>
            </po_compressor>
        </models>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <po_compressor>
                        <type>singleton</type>
                        <class>po_compressor/observer</class>
                        <method>attachCmsPageHandle</method>
                    </po_compressor>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <clean_media_cache_after>
                <observers>
                    <po_compressor>
                        <type>singleton</type>
                        <class>po_compressor/observer</class>
                        <method>refreshCache</method>
                    </po_compressor>
                </observers>
            </clean_media_cache_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <po_compressor_admin>
                <use>admin</use>
                <args>
                    <module>Potato_Compressor</module>
                    <frontName>po_compressor_admin</frontName>
                </args>
            </po_compressor_admin>
        </routers>
    </admin>
    <default>
        <po_compressor>
            <general>
                <enabled>0</enabled>
                <background>1</background>
            </general>
            <js_settings>
                <merge_js>0</merge_js>
                <compression>0</compression>
                <gzip>0</gzip>
                <single>0</single>
            </js_settings>
            <css_settings>
                <merge_css>0</merge_css>
                <compression>0</compression>
                <gzip>0</gzip>
                <single>0</single>
            </css_settings>
        </po_compressor>
    </default>
</config>
