<?xml version="1.0" encoding="UTF-8"?>
<config>
	<default>
		<advancedpermissions>
			<settings>
				<enabled>1</enabled>
			</settings>
		</advancedpermissions>
	</default>
	<modules>
		<Int_Advancedpermissions>
			<version>0.1.1</version>
		</Int_Advancedpermissions>
	</modules>
	<global>		
		<models>
			<!--<core>
				<rewrite>
					<store_group>Int_Advancedpermissions_Model_Core_Store_Group</store_group>
				</rewrite>
			</core>	-->			
			<advancedpermissions>
				<class>Int_Advancedpermissions_Model</class>
			</advancedpermissions>
			<adminhtml>
				<rewrite>
					<system_store>Int_Advancedpermissions_Model_Adminhtml_System_Store</system_store>
				</rewrite>
			</adminhtml>
			<reports_resource>
				<rewrite>
					<review_product_collection>Int_Advancedpermissions_Model_Reports_Resource_Review_Product_Collection</review_product_collection>
				</rewrite>
			</reports_resource>
		</models>
		<helpers>
			<advancedpermissions>
				<class>Int_Advancedpermissions_Helper</class>
			</advancedpermissions>
		</helpers>
		<resources>
			<advancedpermissions_setup>
				<setup>
					<module>Int_Advancedpermissions</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</advancedpermissions_setup>
			<advancedpermissions_write>
				<connection>
					<use>core_write</use>
				</connection>
			</advancedpermissions_write>
			<advancedpermissions_read>
				<connection>
					<use>core_read</use>
				</connection>
			</advancedpermissions_read>
		</resources>		
		<blocks>
			<adminhtml>
				<rewrite>				
					<permissions_user_grid>Int_Advancedpermissions_Block_Permissions_User_Grid</permissions_user_grid>
					<permissions_user_edit>Int_Advancedpermissions_Block_Permissions_User_Edit</permissions_user_edit>
					<permissions_buttons>Int_Advancedpermissions_Block_Permissions_Buttons</permissions_buttons>
					<catalog_category_tree>Int_Advancedpermissions_Block_Catalog_Category_Tree</catalog_category_tree>
					<catalog_product_edit_tab_categories>Int_Advancedpermissions_Block_Catalog_Product_Edit_Tab_Categories</catalog_product_edit_tab_categories>
					<permissions_user_edit_tab_main>Int_Advancedpermissions_Block_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
					<permissions_user_edit_tabs>Int_Advancedpermissions_Block_Permissions_User_Edit_Tabs</permissions_user_edit_tabs>
					<permissions_user_edit_tab_websites>Int_Advancedpermissions_Block_Permissions_User_Edit_Tab_Websites</permissions_user_edit_tab_websites>
					<store_switcher>Int_Advancedpermissions_Block_Store_Switcher</store_switcher>
					<sales_order_grid>Int_Advancedpermissions_Block_Sales_Order_Grid</sales_order_grid>
					<catalog_product_grid>Int_Advancedpermissions_Block_Catalog_Product_Grid</catalog_product_grid>
					<catalog_product_edit_tab_websites>Int_Advancedpermissions_Block_Catalog_Product_Edit_Tab_Websites</catalog_product_edit_tab_websites>
					<catalog_product_edit_tabs>Int_Advancedpermissions_Block_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
					<catalog_product_edit_tab_vender>Int_Advancedpermissions_Block_Catalog_Product_Edit_Tab_Vender</catalog_product_edit_tab_vender>
					<catalog_search_grid>Int_Advancedpermissions_Block_Catalog_Search_Grid</catalog_search_grid>
					<urlrewrite_grid>Int_Advancedpermissions_Block_Urlrewrite_Grid</urlrewrite_grid>
					<review_grid>Int_Advancedpermissions_Block_Review_Grid</review_grid>
					<customer_grid>Int_Advancedpermissions_Block_Customer_Grid</customer_grid>
					<widget_grid_column_filter_store>Int_Advancedpermissions_Block_Widget_Grid_Column_Filter_Store</widget_grid_column_filter_store>
					<cms_page_grid>Int_Advancedpermissions_Block_Cms_Page_Grid</cms_page_grid>
					<cms_block_grid>Int_Advancedpermissions_Block_Cms_Block_Grid</cms_block_grid>
					<poll_grid>Int_Advancedpermissions_Block_Poll_Grid</poll_grid>
					<catalog_category_edit_form>Int_Advancedpermissions_Block_Catalog_Category_Edit_Form</catalog_category_edit_form>
					<rating_grid>Int_Advancedpermissions_Block_Rating_Grid</rating_grid>
					<tag_grid_pending>Int_Advancedpermissions_Block_Tag_Grid_Pending</tag_grid_pending>
					<tag_tag_grid>Int_Advancedpermissions_Block_Tag_Tag_Grid</tag_tag_grid>
					<sitemap_grid>Int_Advancedpermissions_Block_Sitemap_Grid</sitemap_grid>
					<customer_online_grid>Int_Advancedpermissions_Block_Customer_Online_Grid</customer_online_grid>
					<sales_order_create_customer_grid>Int_Advancedpermissions_Block_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
					<sales_order_create_store_select>Int_Advancedpermissions_Block_Sales_Order_Create_Store_Select</sales_order_create_store_select>
					<sales_invoice_grid>Int_Advancedpermissions_Block_Sales_Invoice_Grid</sales_invoice_grid>
					<sales_creditmemo_grid>Int_Advancedpermissions_Block_Sales_Creditmemo_Grid</sales_creditmemo_grid>
					<sales_shipment_grid>Int_Advancedpermissions_Block_Sales_Shipment_Grid</sales_shipment_grid>
					<checkout_agreement_grid>Int_Advancedpermissions_Block_Checkout_Agreement_Grid</checkout_agreement_grid>
					<tax_rate_title>Int_Advancedpermissions_Block_Tax_Rate_Title</tax_rate_title>
					<promo_catalog_grid>Int_Advancedpermissions_Block_Promo_Catalog_Grid</promo_catalog_grid>
					<promo_quote_grid>Int_Advancedpermissions_Block_Promo_Quote_Grid</promo_quote_grid>
					<promo_quote_edit_tab_labels>Int_Advancedpermissions_Block_Promo_Quote_Edit_Tab_Labels</promo_quote_edit_tab_labels>
					<newsletter_queue_grid>Int_Advancedpermissions_Block_Newsletter_Queue_Grid</newsletter_queue_grid>
					<newsletter_subscriber_grid>Int_Advancedpermissions_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
					<report_shopcart_product_grid>Int_Advancedpermissions_Block_Report_Shopcart_Product_Grid</report_shopcart_product_grid>
					<report_shopcart_abandoned_grid>Int_Advancedpermissions_Block_Report_Shopcart_Abandoned_Grid</report_shopcart_abandoned_grid>
					<report_grid_abstract>Int_Advancedpermissions_Block_Report_Grid_Abstract</report_grid_abstract>
					<report_sales_sales_grid>Int_Advancedpermissions_Block_Report_Sales_Sales_Grid</report_sales_sales_grid>
					<report_sales_tax_grid>Int_Advancedpermissions_Block_Report_Sales_Tax_Grid</report_sales_tax_grid>
					<report_sales_invoiced_grid>Int_Advancedpermissions_Block_Report_Sales_Invoiced_Grid</report_sales_invoiced_grid>
					<report_sales_shipping_grid>Int_Advancedpermissions_Block_Report_Sales_Shipping_Grid</report_sales_shipping_grid>
					<report_sales_refunded_grid>Int_Advancedpermissions_Block_Report_Sales_Refunded_Grid</report_sales_refunded_grid>
					<report_sales_coupons_grid>Int_Advancedpermissions_Block_Report_Sales_Coupons_Grid</report_sales_coupons_grid>
					<report_sales_bestsellers_grid>Int_Advancedpermissions_Block_Report_Sales_Bestsellers_Grid</report_sales_bestsellers_grid>
					<report_grid>Int_Advancedpermissions_Block_Report_Grid</report_grid>
					<report_product_sold_grid>Int_Advancedpermissions_Block_Report_Product_Sold_Grid</report_product_sold_grid>
					<report_product_viewed_grid>Int_Advancedpermissions_Block_Report_Product_Viewed_Grid</report_product_viewed_grid>
					<report_customer_accounts_grid>Int_Advancedpermissions_Block_Report_Customer_Accounts_Grid</report_customer_accounts_grid>
					<report_customer_totals_grid>Int_Advancedpermissions_Block_Report_Customer_Totals_Grid</report_customer_totals_grid>
					<report_customer_orders_grid>Int_Advancedpermissions_Block_Report_Customer_Orders_Grid</report_customer_orders_grid>
					<report_tag_customer_grid>Int_Advancedpermissions_Block_Report_Tag_Customer_Grid</report_tag_customer_grid>
					<report_tag_product_grid>Int_Advancedpermissions_Block_Report_Tag_Product_Grid</report_tag_product_grid>
					<report_tag_popular_grid>Int_Advancedpermissions_Block_Report_Tag_Popular_Grid</report_tag_popular_grid>
					<report_review_customer_grid>Int_Advancedpermissions_Block_Report_Review_Customer_Grid</report_review_customer_grid>
					<report_review_product_grid>Int_Advancedpermissions_Block_Report_Review_Product_Grid</report_review_product_grid>
					<report_search_grid>Int_Advancedpermissions_Block_Report_Search_Grid</report_search_grid>
					<system_design_grid>Int_Advancedpermissions_Block_System_Design_Grid</system_design_grid>
					<system_convert_gui_grid>Int_Advancedpermissions_Block_System_Convert_Gui_Grid</system_convert_gui_grid>
					<widget_form_renderer_fieldset_element>Int_Advancedpermissions_Block_Widget_Form_Renderer_Fieldset_Element</widget_form_renderer_fieldset_element>
					<!--<report_product_downloads_grid>Int_Advancedpermissions_Block_Report_Product_Downloads_Grid</report_product_downloads_grid>-->
				</rewrite>
			</adminhtml>
			<page>
				<rewrite>				
					<template_links>Int_Advancedpermissions_Block_Page_Template_Links</template_links>					
				</rewrite>
			</page>
			<widget>
				<rewrite>				
					<adminhtml_widget_instance_grid>Int_Advancedpermissions_Block_Widget_Adminhtml_Widget_Instance_Grid</adminhtml_widget_instance_grid>					
				</rewrite>
			</widget>
			<xmlconnect>
				<rewrite>				
					<adminhtml_mobile_grid>Int_Advancedpermissions_Block_Xmlconnect_Adminhtml_Mobile_Grid</adminhtml_mobile_grid>					
				</rewrite>
			</xmlconnect>
		</blocks>
		<routers>
			<adminhtml>
				<rewrite>
					<permissions_user>
						<from><![CDATA[#^/admin/permissions_user/$#]]></from>	
						<to>/admin/permissions_user/</to>
					</permissions_user>
					<system_config>
						<from><![CDATA[#^/admin/system_config/$#]]></from>	
						<to>/admin/system_config/</to>
					</system_config>
					<catalog_product>
						<from><![CDATA[#^/admin/catalog_product/$#]]></from>	
						<to>/admin/catalog_product/</to>
					</catalog_product>
					<sales_order_create>
						<from><![CDATA[#^/admin/sales_order_create/$#]]></from>	
						<to>/admin/sales_order_create/</to>
					</sales_order_create>
					<tax_rate>
						<from><![CDATA[#^/admin/tax_rate/$#]]></from>	
						<to>/admin/tax_rate/</to>
					</tax_rate>
				</rewrite>
			</adminhtml>			
		</routers>
		<rewrite>
            <int_advancedpermissions_checkout_onepage>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/advancedpermissions/checkout_onepage/</to>
            </int_advancedpermissions_checkout_onepage>
        </rewrite>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Int_Advancedpermissions before="Mage_Adminhtml">Int_Advancedpermissions</Int_Advancedpermissions>
					</modules>	
				</args>
			</adminhtml>
		</routers>	
	</admin>
	<frontend>
        <routers>
            <int_advancedpermissions>
                <use>standard</use>
                <args>
                    <module>Int_Advancedpermissions</module>
                    <frontName>advancedpermissions</frontName>
                </args>
            </int_advancedpermissions>
        </routers>
		<layout>
		 <updates>
		   <advancedpermissions>
					<file>advancedpermissions.xml</file>
		   </advancedpermissions>  
		 </updates>
	   </layout>
    </frontend>	
	<adminhtml>
	   <layout>
		 <updates>
		   <advancedpermissions>
					<file>advancedpermissions.xml</file>
		   </advancedpermissions>  
		 </updates>
	   </layout>
	   <!--<menu>
			<advancedpermissions module="advancedpermissions">
				<title>Advanced Permissions</title>
				<sort_order>71</sort_order>               
				<children>
					<settings module="advancedpermissions">
						<title>Settings</title>
						<sort_order>2</sort_order>
						<action>adminhtml/system_config/edit/section/advancedpermissions/</action>
					</settings>
				</children>
			</advancedpermissions>
		</menu>-->		
	   <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <advancedpermissions>
                                            <title>Store Advancedpermissions Section</title>
                                        </advancedpermissions>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>		
	</adminhtml>
</config>