<?xml version="1.0"?>
<config>
  <modules>
    <Dico_Webpay>
      <version>0.1.0</version>
    </Dico_Webpay>
  </modules>
  <global>
    <models>
      <webpay>
        <class>Dico_Webpay_Model</class>
      </webpay>
    </models>
    <helpers>
      <webpay>
        <class>Dico_Webpay_Helper</class>
      </webpay>
    </helpers>
    <blocks>
      <webpay>
        <class>Dico_Webpay_Block</class>
      </webpay>
    </blocks>
  </global>
  <default>
    <payment>
      <webpay>
        <model>webpay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Webpay</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </webpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <webpay>
        <use>standard</use>
        <args>
          <module>Dico_Webpay</module>
          <frontName>webpay</frontName>
        </args>
      </webpay>
    </routers>
  </frontend>
  <layout>
     <updates>
        <webpay>
            <file>ajaxlayout.xml</file>
         </webpay>
     </updates>
</layout>
</config>
